NameVirtualHost *:80

<Directory /var/share/zomeki/sites>
    AllowOverride All
    RewriteEngine on
    PassengerEnabled on
    PassengerAppRoot /var/share/zomeki
    setenv LANG ja_JP.UTF-8
</Directory>

<VirtualHost *:80>
    AddType text/x-component .htc
    DocumentRoot /var/share/zomeki/sites/00/00/00/01/00000001/public
    Alias /_common/ "/var/share/zomeki/public/_common/"
    ServerName zomeki.example.com
    Include /var/share/zomeki/config/rewrite/base.conf
    Include /var/share/zomeki/sites/00/00/00/01/00000001/config/rewrite.conf
</VirtualHost>

Include /var/share/zomeki/config/virtual-hosts/sites.conf
