<div id="doc_style_tags" title="置き換えテキスト" style="display: none;">
  <table>
    <tr>
      <th>タイトル（リンクなし）</th><td>@title@</td>
    </tr>
    <tr>
      <th>タイトル（リンクあり）</th><td>@title_link@</td>
    </tr>
    <tr>
      <th>サブタイトル</th><td>@subtitle@</td>
    </tr>
    <tr>
      <th>公開日</th><td>@publish_date@</td>
    </tr>
    <tr>
      <th>更新日</th><td>@update_date@</td>
    </tr>
    <tr>
      <th>公開時間</th><td>@publish_time@</td>
    </tr>
    <tr>
      <th>更新時間</th><td>@update_time@</td>
    </tr>
    <tr>
      <th>概要</th><td>@summary@</td>
    </tr>
    <tr>
      <th>組織</th><td>@group@</td>
    </tr>
    <tr>
      <th>カテゴリ（リンクなし）</th><td>@category@</td>
    </tr>
    <tr>
      <th>カテゴリ（リンクあり）</th><td>@category_link@</td>
    </tr>
    <tr>
      <th>添付画像（リンクなし）</th><td>@image@</td>
    </tr>
    <tr>
      <th>添付画像（リンクあり）</th><td>@image_link@</td>
    </tr>
    <tr>
      <th>記事本文（追記含む）</th><td>@body@</td>
    </tr>
    <tr>
      <th>記事本文（追記以外）</th><td>@body_beginning@</td>
    </tr>
    <tr>
      <th>記事本文（文字数指定）</th><td>@body_123@</td>
    </tr>
    <tr>
      <th>作成者</th><td>@user@</td>
    </tr>
    <tr>
      <th>コメント数</th><td>@comment_count@</td>
    </tr>
    <tr>
      <th>記事へのリンク</th><td>@doc{{@〜@}}doc@</td>
    </tr>
  </table>
</div>
