<div class="mainMenu">
  <%= render 'layouts/admin/cms/menu', :current => :content %>
</div>

<div class="contentMenu">
  <%= link_to "#{GpArticle::Doc.model_name.human}一覧", gp_article_docs_path, class: 'fixed' %>
  <%- if Core.user.has_auth?(:designer) -%>
    <%= link_to "#{GpArticle::Doc.model_name.human}設定", gp_article_content_settings_path, class: 'fixed' %>
  <%- end -%>
</div>
