.iconFile, .iconDefault {
  padding: 12px 5px 12px 42px;
  background-repeat: no-repeat;
  background-image: url(/_common/images/icons/default.gif);
  line-height: 3.3;
  height: 40px;
}
.iconBmp {
  background-image: url(/_common/images/icons/bmp.gif);
}
.iconCsv {
  background-image: url(/_common/images/icons/csv.gif);
}
.iconDoc,
.iconDocx {
  background-image: url(/_common/images/icons/doc.gif);
}
.iconGif {
  background-image: url(/_common/images/icons/gif.gif);
}
.iconJpg {
  background-image: url(/_common/images/icons/jpg.gif);
}
.iconJpe {
  background-image: url(/_common/images/icons/jpg.gif);
}
.iconJpeg {
  background-image: url(/_common/images/icons/jpg.gif);
}
.iconJtd {
  background-image: url(/_common/images/icons/jtd.gif);
}
.iconLzh {
  background-image: url(/_common/images/icons/lzh.gif);
}
.iconPdf {
  background-image: url(/_common/images/icons/pdf.gif);
}
.iconPng {
  background-image: url(/_common/images/icons/png.gif);
}
.iconPpt {
  background-image: url(/_common/images/icons/ppt.gif);
}
.iconTxt {
  background-image: url(/_common/images/icons/txt.gif);
}
.iconXls,
.iconXlsx {
  background-image: url(/_common/images/icons/xls.gif);
}
.iconZip {
  background-image: url(/_common/images/icons/zip.gif);
}
