

body
{
	/* Font */
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;

	/* Text color */
	color: #222;

	/* Remove the background color to make it transparent */
	background-color: #fff;
}

ol,ul,dl
{
	/* IE7: reset rtl list margin. (#7334) */
	*margin-right:0px;
	/* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
    padding:0 40px;
}


/* templates
----------------------------------------------- */

.temp1, temp2, .temp3, .temp4 {
  clear: both;
  margin-bottom: 30px;
}
.temp1 .thumb {
  float: left;
  margin-right: 30px;
}
.temp2 .thumb {
  float: right;
  margin-left: 30px;
}
.temp3 dl, .temp4 dl {
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
  text-align: center;
}
.temp3 dl dt, .temp4 dl dt {
  margin-bottom: 5px;
}
.temp3 dd, .temp4 dd {
  margin: 0;
  text-align: center;
}
table.temp5 {
  width: 100%;
}
.temp7 {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #cccccc;
}
.temp7 p {
  margin: 0 0 10px 0;
}


/* clearfix
---------------------- */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  font-size: 0;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
