<%= render(layout: 'shared/admin/piece/form', locals: {f: f}) do -%>
<p class="form">詳細設定</p>

<table class="show">
  <tr>
    <th><%= @item.locale :in_settings_source %></th>
    <td><%= f.array_radio_buttons  'in_settings[source]', @item.class::SOURCE_OPTIONS %></td>
  </tr>
</table>
<%- end -%>
