<%= render(layout: 'shared/admin/piece/show') do -%>
<p class="form">詳細設定</p>

<table class="show">
  <tr>
    <th><%= @item.locale :in_settings_source %></th>
    <td><%= @item.source_text %></td>
  </tr>
</table>
<%- end -%>
