/.bundle
db/*.sqlite3
log/*.log
/tmp/
/.sass-cache/

log/*.gz

ext/gtalk/Makefile
ext/gtalk/No
ext/gtalk/config.log
ext/gtalk/config.status
ext/gtalk/gtalk
ext/gtalk/*.o
ext/morph/chaone/.deps/
ext/morph/chaone/autom4te.cache/
ext/morph/chaone/Makefile
ext/morph/chaone/chaone
ext/morph/chaone/chaone.o
ext/morph/chaone/config.log
ext/morph/chaone/config.status
/sites/
/upload/

vendor/bundle/

config/core.yml
config/virtual-hosts/sites.conf
config/virtual-hosts/zomeki.conf
