<div class="actionMenu">
  <%= link_to 'ダウンロード', tool_convert_path %>
  <%= link_to 'ファイル一覧', tool_link_check_path(only: 'failed') %>
  <%= link_to '変換', tool_link_check_path(only: 'succeeded') %>
  <%= link_to '書き込み', tool_link_check_path %>
</div>
