<div class="contentPortalGroupAttribute">

<div class="attributes">
  <% for item in @items %>
  <section class="attribute attribute<%= item.name.camelize %>">
    <h2><%= link_to h(item.title), "#{item.name}/" %></h2>
  </section>
  <% end %>
</div>

</div>
