<div class="mainMenu">
<%= render :partial => 'layouts/admin/cms/menu', :locals => {:current => :content} %>
</div>

<div class="contentMenu">
<%= link_to 'イベント一覧', calendar_events_path %>
<%= link_to '設定', calendar_content_settings_path if @content.editable? %>
</div>
