<div class="mainMenu">
  <%= render 'layouts/admin/cms/menu', :current => :content %>
</div>

<div class="contentMenu">
  <%= render 'layouts/admin/cms/navi/component', :current => :content %>
</div>
