<%- unless @docs.empty? -%>
<ul class="docs">
  <%- @docs.each do |doc| -%>
  <li><%= render 'gp_article/public/shared/doc', doc: doc, list_style: @piece.list_style, date_style: @piece.date_style %></li>
  <%- end -%>
</ul>
<%- end -%>
