<span class="note">※は必須項目です。</span>

<table class="show">
  <tr>
    <th><%= @item.locale(:state) %></th>
    <td><%= f.radio_buttons :state, @item.states, :class => 'states' %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:email) %></th>
    <td><%= @item.email %></td>
  </tr>
</table>

<%#= creator_form f %>