<%- if @piece.upper_text.present? -%>
<div class="upper_text"><%=raw @piece.upper_text %></div>
<%- end -%>

<%- unless @banners.empty? -%>
<ul class="ad_banner">
  <%- @banners.each do |banner| -%>
  <li class="banner"><%= link_to image_tag("#{@piece.banner_node.public_uri}#{banner.name}", alt: banner.title), "#{@piece.banner_node.public_uri}#{banner.token}", target: '_blank' %></li>
  <%- end -%>
</ul>
<%- end -%>

<%- if @piece.lower_text.present? -%>
<div class="lower_text"><%=raw @piece.lower_text %></div>
<%- end -%>
