<div class="contentPage">

<div class="body">
<%= raw @body %>
</div>

<%= render 'cms/public/_partial/many_inquiries/view', item: @item %>

@adobe-reader-link@
<!-- end .contentPage --></div>
