<ul class="level<%= category.level_no + 1 -%>">
  <%- category.public_children.each do |child| -%>
  <li class="<%= child.name -%>">
    <%= link_to child.title, child.public_uri %>
    <%- unless child.public_children.empty? -%>
    <%= render 'categories', category: child %>
    <%- end -%>
  </li>
  <%- end -%>
</ul>
