<li class="category <%= category.name %>">
  <%= link_to category.title, "#{@target_node_public_uri}index_#{category.category_type.name}@#{category.path_from_root_category.gsub('/', '@')}.html" %>
  <%- unless category.public_children.empty? -%>
  <ul>
    <%- category.public_children.each do |child| -%>
    <%= render 'category', category: child %>
    <%- end -%>
  </ul>
  <%- end -%>
</li>
