<%- unless @top_categories.empty? -%>
<ul class="categories">
  <%- @top_categories.each do |category| -%>
  <li>
    <ul class="level<%= category.level_no -%>">
      <%= render 'category', category: category %>
    </ul>
  </li>
  <%- end -%>
</ul>
<%- end -%>
