<div class="contentPublicBbsResponseEdit">
<%= form_for(:item, :url => "#{@thread.public_responses_uri}/#{@item.id}", :method => 'put') do |f| %>
  <%= error_messages_for :item %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <div class="submitters"><%= submit :update %></div>
<% end %>
</div>
