<div class="contentPortalGroupRecentDocs">

<ul class="feed">
  <li><%= link_to 'RSS' , "index.rss" , :class => 'feedRss', :title => 'RSSフィードを取得' %></li>
  <li><%= link_to 'Atom', "index.atom", :class => 'feedAtom', :title => 'Atomフィードを取得' %></li>
</ul>

<div class="docs">
  <%= portal_group_docs_view @docs, @content.setting_value(:docs_list_type) %>
</div>

<%= paginate @docs %>

</div>
