<%-
link_to_options = link_to_doc_options(doc)

doc_title = if link_to_options
              link_to *(link_to_options.unshift doc.title)
            else
              h doc.title
            end

title = %Q!<span class="title">#{doc_title}</span>!
date = %Q!<span class="date">#{h doc.display_published_at.try(:strftime, date_style)}</span>!
group = %Q!<span class="group">#{h doc.creator.group.name}</span>!
category = %Q!<span class="category">#{h doc.categories.map(&:title).join(', ')}</span>!

doc_line = (Page.mobile? ? title : list_style.gsub(/@title/, title).gsub(/@date/, date).gsub(/@group/, group).gsub(/@category/, category)).html_safe
-%>
<%= doc_line %>
