<div class="contentOrganization contentOrganizationGroups">
<%- unless @groups.empty? -%>
<ul>
  <%- @groups.each do |group| -%>
  <li>
    <%= link_to group.sys_group.name, group.public_uri %>
    <%- unless group.children.empty? -%>
    <ul>
      <%- group.children.each do |child| -%>
      <%= group_li(child) %>
      <%- end -%>
    </ul>
    <%- end -%>
  </li>
  <%- end -%>
</ul>
<%- end -%>
</div>
