<div class="contentOrganization contentOrganizationGroup">
  <%- unless @docs.empty? -%>
  <ul>
    <%- @docs.each do |doc| -%>
    <li><%= doc_replace(doc, @content.doc_style, @content.date_style, @content.time_style) %></li>
    <%- end -%>
  </ul>
  <%- end -%>

  <%= paginate @docs %>
</div>
