<div class="contentOrganization contentOrganizationGroup">
<%- unless @docs.empty? -%>
<ul>
  <%- @docs.each do |doc| -%>
  <li><%= doc_replace(doc, @content.doc_style, @content.date_style, @content.time_style) %></li>
  <%- end -%>
</ul>
<%- end -%>

<%- unless @group.public_children.empty? -%>
<ul>
  <%- @group.public_children.each do |child| -%>
  <li>
    <span class="name"><%= link_to child.sys_group.name, child.public_uri %></span>
    <div class="information"><%=simple_format child.business_outline %></div>
  </li>
  <%- end -%>
</ul>
<%- end -%>
</div>
