<div class="contentOrganization contentOrganizationGroup">
<%- unless @group.public_children.empty? -%>
<ul>
  <%- @group.public_children.each do |child| -%>
  <li>
    <%= link_to child.sys_group.name, child.public_uri %>
    <%- unless child.children.empty? -%>
    <ul>
      <%- child.children.each do |gc| -%>
      <%= group_li(gc) %>
      <%- end -%>
    </ul>
    <%- end -%>
  </li>
  <%- end -%>
</ul>
<%- end -%>
</div>
