<div class="contentGpCategoryCategoryType">
  <%- unless @docs.empty? -%>
  <ul class="feed">
    <li><%= link_to 'RSS' , "#{@category_type.public_uri.sub(/\/$/, '')}.rss" , :class => 'feedRss', :title => 'RSSフィードを取得' %></li>
    <li><%= link_to 'Atom', "#{@category_type.public_uri.sub(/\/$/, '')}.atom", :class => 'feedAtom', :title => 'Atomフィードを取得' %></li>
  </ul>
  <div class="docs">
    <ul>
      <%- @docs.each do |doc| -%>
      <li><%= render 'gp_category/public/shared/doc', doc: doc, doc_style: @content.category_type_doc_style, date_style: @content.date_style %></li>
      <%- end -%>
    </ul>
  </div>
  <%- end -%>

  <%= paginate @docs %>
</div>
