<div class="contentGpCategoryCategoryType">
  <section class="categoryType categoryType<%= @category_type.name.try(:camelize) %>">
    <%- @category_type.public_root_categories.each do |category| -%>
    <h2><%= link_to category.title, category.public_uri %></h2>
    <%- unless category.public_children.empty? -%>
    <ul class="children">
      <%- category.public_children.each do |child| -%>
      <%= render 'all_categories_category', category: child %>
      <%- end -%>
    </ul>
    <%- end -%>
    <%- end -%>
  </section>
</div>
