<%-
  category_ids = @category_type.public_categories.map(&:id)
  docs = GpArticle::Doc.all_with_content_and_criteria(nil, category_id: category_ids).mobile(::Page.mobile?).public
                       .order('display_published_at DESC, published_at DESC').paginate(page: params[:page], per_page: @content.category_type_docs_number)
-%>
<div class="contentGpCategoryCategoryType">
  <%- unless docs.empty? -%>
  <div class="docs">
    <ul>
      <%- docs.each do |doc| -%>
      <li><%= render 'gp_category/public/shared/doc', doc: doc, doc_style: @content.category_type_doc_style, date_style: @content.date_style %></li>
      <%- end -%>
    </ul>
  </div>
  <%- end -%>

  <%= paginate docs %>
</div>
