<div class="contentGpCategoryCategoryType">
  <%- @category_type.public_root_categories.each do |category| -%>
  <section class="categoryType categoryType<%= @category_type.name.try(:camelize) %>">
    <h2><%= link_to category.title, category.public_uri %></h2>
    <%- unless category.public_docs.empty? -%>
    <div class="docs">
      <ul>
        <%- category.public_docs.limit(@content.category_type_docs_number).each do |doc| -%>
        <li><%= render 'gp_category/public/shared/doc', doc: doc, doc_style: @content.category_type_doc_style, date_style: @content.date_style %></li>
        <%- end -%>
      </ul>
    </div>
    <%- end -%>
    <div class="more">
      <%= link_to '一覧へ', category.public_uri %>
    </div>
  </section>
  <%- end -%>
</div>
