<%- @category_type.public_root_categories.each do |category| -%>
<h2><%= link_to category.title, category.public_uri %></h2>
<%- category.public_docs.each do |doc| -%>
<%= render 'doc', doc: doc %>
<%- end -%>
<%- end -%>
