<div class="contentGpCategoryCategoryTypes">
  <%- @category_types.each do |category_type| -%>
  <div class="categoryType categoryType<%= category_type.name.try(:camelize) %>">・<%= link_to category_type.title, category_type.public_uri %></div>
  <%- end -%>
</div>
