<div class="contentGpCategoryCategoryType">
  <%- unless @category_type.public_root_categories.empty? -%>
  <section class="categoryType">
    <h2><%= @category_type.title %></h2>
    <nav>
      <ul>
        <%- @category_type.public_root_categories.each do |category| -%>
        <li class="category<%= category.name.try(:camelize) %>"><%= link_to category.title, "#{category.category_type.public_uri}#{category.path_from_root_category}/" %></li>
        <%- end -%>
      </ul>
    </nav>
  </section>
  <%- end -%>
</div>
