<%- unless @docs.empty? -%>
<ul class="docs">
  <%- @docs.each do |doc| -%>
  <li class="<%= doc.content.code %>"><%= doc_replace(doc, @piece.doc_style, @piece.date_style) %></li>
  <%- end -%>
</ul>
<%- if @piece.more_link_body.present? && @piece.more_link_url.present? -%>
<div class="more">
  <%= link_to @piece.more_link_body, @piece.more_link_url %>
</div>
<%- end -%>
<%- end -%>
