<h2>リンクチェック</h2>

<div class="actionMenu">
  <%= link_to 'リンクエラーをチェック', tool_link_check_path, :method => :post %>
  <%- if false -%>
  <span class="separator"></span>
  <%= link_to '設定', nil %>
  <%- end -%>
</div>
