<div class="contentTagTag">

<h2><%= Tag::Tag.model_name.human %>「<%= @item.word %>」の<%= GpArticle::Doc.model_name.human %>一覧</h2>

<%- unless @docs.empty? -%>
<ul>
  <%- @docs.each do |doc| -%>
  <li><%= render 'gp_article/public/shared/doc', doc: doc, list_style: @content.list_style, date_style: @content.date_style %></li>
  <%- end -%>
</ul>
<%- end -%>

</div>
