<%= render(layout: 'biz_calendar/admin/piece/shared/form', locals: {f: f}) do -%>
<p class="form">詳細設定</p>

<table class="show">
  <tr>
    <th>リンク先</th>
    <td>
      <%= select_tag 'target_node', options_for_select(@item.content.public_nodes
                                                       .map {|n| ["#{n.title}（#{n.name}）", n.id]}, @item.target_node.try(:id)), include_blank: true %>
  </tr>
</table>
<%- end -%>
