<%

contents = Core.site.contents.find(:all, :conditions => {:model => 'Article::Doc'})
options  = contents.collect{|c| [c.name, c.id]}

%><p class="form">基本情報</p>

<table class="show">
  <%= content_base_form f, :container => :tr %>
</table>

<%= creator_form f %>
