<div class="contentPortalArticleArchiveDocs">

<% if @docs.size > 0 %><div class="docs">
  <% @docs.each do |doc| %>
  <div class="doc">・<%=link_to doc.title, doc.public_uri%><%= doc.date_and_unit %></div>
  <% end %>
</div><% end %>

<%= paginate @docs %>

</div>
