<span class="note">※は必須項目です。</span>

<table class="show">
  <tr>
    <th><%= f.label :name %> <span class="note">※</span></th>
    <td><%= f.text_field :name, :style => 'width: 500px;' %></td>
  </tr>
  <tr>
    <th><%= f.label :display_order %></th>
    <td><%= f.text_field :display_order, :style => 'width: 50px;' %></td>
  </tr>
</table>
