<table class="show">
  <tr>
    <th><%= @item.locale(:name) %></th>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:display_order) %></th>
    <td><%= @item.display_order %></td>
  </tr>
</table>
