<%- case @item -%>
<%- when GpCategory::CategoryType -%>
  <%= render 'category_type', category_type: @item %>
<%- when GpCategory::Category -%>
  <%= render 'category', category_type: @item.category_type, category: @item %>
<%- else -%>
  <%- unless @content.category_types.empty? -%>
  <ul>
    <%- @content.category_types.each do |category_type| -%>
    <li><%= link_to category_type.title, category_type.public_uri %></li>
    <%- end -%>
  </ul>
  <%- end -%>
<%- end -%>
