<div class="mainMenu">
  <%= render 'layouts/admin/cms/menu', :current => :content %>
</div>

<div class="contentMenu">
  <%= link_to "#{Map::Marker.model_name.human}一覧", map_markers_path, class: 'fixed' %>
</div>
