<div id="settingContent">
  <%= form_for(:item, :url => url, :html => { method: 'put' }) do |f| %>
    <%= error_messages_for :item %>
    <%= render 'form', f: f %>
    <%= submit :register %>
  <% end %>
</div>
