<%

return unless Core.user.has_auth?(:manager)

groups = Sys::Group.find(:all, :conditions => {:level_no => 2}, :order => :sort_no)

unless Core.user.root?
  users  = Sys::User.find(:all, :conditions => {:state => 'enabled'}, :order => :id).select {|u| u.sites.include?(Core.site) }
else
  users  = Sys::User.find(:all, :conditions => {:state => 'enabled'}, :order => :id)
end

if !item.unid && !params[f.object_name]
  item.in_creator = {
    'group_id' => Core.user_group.id,
    'user_id'  => Core.user.id
  }
end

%><br />

<p class="managerForm">作成者</p>

<div class="onlyManager">
  <div class="label1">グループ</div>
<%- unless Core.user.root? -%>
  <%= f.select_group_with_tree "in_creator[group_id]", groups, :include_blank => true %>
<%- else -%>
  <%= f.select_with_tree "in_creator[group_id]", groups, :include_blank => true %>
<%- end -%>
</div>
<div class="onlyManager">
  <div class="label1">ユーザ</div>
  <%= f.array_select "in_creator[user_id]", users.map {|i| [i.name_with_account, i.id] }, :include_blank => true %>
</div>
