<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
  <%= stylesheet_link_tag '/_common/themes/admin/login.css' %>
  <!--[if lt IE 9]>
  <%= javascript_include_tag '/_common/js/html5.js' %>
  <%= javascript_include_tag '/_common/js/selectivizr.js' %>
  <![endif]-->
</head>

<body>
<div id="container">
  <header id="header">
    <div id="headerContainer">
      <h1><img src="/_common/themes/admin/images/header_logo.gif" alt="ZOMEKI"></h1>
    <!-- /#headerContainer --></div>
  <!-- /#header --></header>
  <div id="main">
