<h2><%= image_tag '/_common/themes/admin/images/login_logo.gif', alt: 'ZOMEKI' %></h2>
<p class="version">Ver.<%= Zomeki.version %></p>
<%- if n = notice -%><div class="notice"><%= n %></div><%- end -%>
<%- if a = alert -%><div class="alert"><%= a %></div><%- end -%>
