<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
<meta charset="UTF-8" />
<title><%= Core.title %></title>
<!--[if lt IE 9]><script src="/_common/js/html5.js"></script><![endif]-->
</head>
<body>

<h1>Account</h1>
<p><%= Core.user.groups[0].name %></p>
<p><%= Core.user.name_with_account %></p>

</body>
</html>
