<div class="contentGpCategoryDoc">
  <div class="docs">
    <ul>
      <%- @docs.each do |doc| -%>
      <li><%= render 'gp_category/public/shared/doc', doc: doc, doc_style: @content.doc_doc_style, date_style: @content.date_style %></li>
      <%- end -%>
    </ul>
  </div>

  <%= paginate @docs %>
</div>
