#simple_tabs {
  float: right;
}
#simple_tabs > li {
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline;
  padding: 0 20px 0 20px;
}
#simple_tabs > li.current {
  background-color: #fce1de;
}

#simple_tab_contents > div {
  display: none;
}
