<%- unless @docs.empty? -%>
<section>
  <h1>記事</h1>
  <ul>
    <%- @docs.each do |doc| -%>
    <li><%= render 'gnav/public/shared/doc', doc: doc, list_style: @content.list_style, date_style: @content.date_style %></li>
    <%- end -%>
  </ul>
</section>
<%- end -%>

<%- unless @menu_item.categories.empty? -%>
<section>
  <h1>カテゴリ</h1>
  <ul>
    <%- @menu_item.categories.each do |category| -%>
    <li><%= link_to category.ancestors.map{|a| a.title }.join(' > '), "#{category.category_type.public_uri}#{category.path_from_root_category}/" %></li>
    <%- end -%>
  </ul>
</section>
<%- end -%>
