<% blank_opt  = '<option value="">すべて</option>'.html_safe %>
<%= form_tag '', :method => 'get', :class => 'search' do -%>
<table>
  <tr>
    <td>期間指定</td>
    <td><%= select_tag('term', options_for_select(@terms, params[:term])) %></td>
    <td><%= submit_tag '適用' %></td>
  </tr>
</table>
<%- end -%>
