<!DOCTYPE html>
<html>
<head>
  <title>ZOMEKI</title>
  <%#= stylesheet_link_tag    'application' %>
  <%#= javascript_include_tag 'application' %>
  <%= javascript_include_tag '/_common/js/jquery.min.js' %>
  <%= javascript_include_tag '/_common/js/jquery_ujs.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
