<%- unless @item.rel_docs.empty? -%>
<div class="rels">
  <h2>関連記事</h2>
  <ul>
    <%- @item.rel_docs.each do |doc| next unless doc.public? -%>
    <li><%= doc_replace doc, @content.rel_docs_style, @content.date_style %></li>
    <%- end -%>
  </ul>
</div>
<%- end -%>
