<article class="contentGpArticleDoc">
  <header class="header">
    <div class="headerInner">
      <h1><%= @doc.title %></h1>
    </div>
    <p class="publishedAt"><%= (@doc.published_at || Time.now).strftime('%Y年%-m月%-d日') %></p>
  </header>
  <div class="body"><%=sanitize @doc.body.gsub('"file_contents/', %Q("#{@doc.public_uri}file_contents/)) %></div>
  <div class="back"><%= link_to_function '戻る', 'history.back();' %></div>
<!-- end .contentGpArticleDoc --></article>
